* {
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
  box-sizing: border-box;
  /* border: 1px solid red; */
}
.header {
  width: 100%;
  background-color: #09212a;
}
.headerMaxWidth {
  box-sizing: border-box;
  background-color: #09212a;
  max-width: 1440px;
  height: 81px;
  padding: 20px 140px 20px 241px;
}
.headerLogo {
  width: 215px;
  height: 41px;
}
.mainContent {
  background-color: #06171e;
  width: 100%;
  min-height: 100vh;
  display: flex;
  align-content: center;
  justify-content: center;
}
.maxWidthMainContent {
  max-width: 1170px;
  height: 575px;
  margin-top: 160px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 160px;
  color: #ffffff;
}
h1 {
  font-family: 'Figtree', sans-serif;
  font-weight: 800;
  font-size: 56px;
}
.galleryGrid {
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: center;
  max-width: 1170px;
  height: 348px;
}
.galleryGrid li {
  width: 150px;
  height: 150px;
  list-style: none;
}
.galleryGrid img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 16px;
  border: 2px solid #124658;
  transition: transform 0.3s ease;
  cursor: pointer;
}
.galleryGrid img:hover {
border-color: #4aa0d3;
}

.footer {
  width: 100%;
  height: 128px;
  background-color: #09212a;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footerLogo {
  width: 225px;
  height: 65px;
}
